{% extends 'base.html.twig' %}

{% block body %}
    <div class="container-fluid header-image">
        <img src="{{ asset(articleImagePath(article.id, article.articleMediaHeader.name)) }}" class="img-fluid mx-auto d-block" alt="Backpack Nerd">
    </div>

    <div class="container">
        <h3 class="section-title">{{ article.title }}</h3>

        <div class="dashed">&nbsp;</div>

        <p>{{ article.body | raw | nl2br }}</p>

        <div class="dashed">&nbsp;</div>

        <div class="row article-gallery">
            {% for media in article.articleMediaLifestyle %}
                <div class="col-md-4 article-image-wrapper">
                    <a href="{{ asset(articleImagePath(article.id, media.name))}}">
                        <img src="{{ asset(articleImagePath(article.id, media.thumbName))}}" class="img-fluid" title="{{ media.title }}" alt="{{ media.title }}" />
                    </a>
                </div>
            {% endfor %}
        </div>

        <h6 class="section-subtitle">Искаш да обсъдим нещо по темата? Пиши ми през <a href="{{ path('contacts') }}">контактната форма &raquo;</a></h6>
        <h6 class="section-subtitle">Обратно към <a href="{{ path('articles_list') }}">всички статии &raquo;</a></h6>

        <div class="dashed">&nbsp;</div>

        <h3 class="section-title">Други статии</h3>

        <div class="row">
            {% for article in similarArticles %}
                {{ include('partials/article_block.html.twig', {'article': article}) }}
            {% endfor %}
        </div>

        <h6 class="section-subtitle">Обратно към <a href="{{ path('articles_list') }}">всички статии &raquo;</a></h6>

        <div class="dashed">&nbsp;</div>
    </div>
{% endblock %}

{% block meta_title %}{{ article.title ~ ' - ' ~  parent() }}{% endblock %}
{% block meta_description %}{{ article.description ~ ' - ' ~  parent() }}{% endblock %}
{% block meta_keywords %}{{ parent() ~ ',' ~ article.slug }}{% endblock %}

{% block og_type %}article{% endblock %}
{% block og_title %}{{ article.title ~ ' - ' ~  parent() }}{% endblock %}
{% block og_description %}{{ article.description ~ ' - ' ~  parent() }}{% endblock %}
{% block og_image %}{{ absolute_url(asset(articleImagePath(article.id, article.articleMediaThumb.name))) }}{% endblock %}
{% block og_url %}{{ url('articles_show', {slug: article.slug}) }}{% endblock %}
